{% extends 'base.html.twig' %}

{% block title %}StageSeller | User{% endblock %}

{% block body %}
  <div class="p-4 sm:ml-64">
      {{ include("partials/modal_delete.html.twig") }}
  <a href="{{ path('app_backoffice_user_new') }}">
  <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">New User</i></button></a>
    <div class="flex flex-col">
      <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
          <div class="overflow-hidden">
            <table class="min-w-full text-center text-sm font-light">
              <thead
                class="border-b bg-neutral-800 font-medium text-white dark:border-neutral-500 dark:bg-neutral-900">
                <tr>
                  <th scope="col" class=" px-6 py-4">ID</th>
                  <th scope="col" class=" px-6 py-4">Email</th>
                  <th scope="col" class=" px-6 py-4">Firstname</th>
                  <th scope="col" class=" px-6 py-4">Lastname</th>
                  <th scope="col" class=" px-6 py-4">Type</th>
                  <th scope="col" class=" px-6 py-4">Options</th>
                </tr>
              </thead>
              <tbody>
                {% for user in users %}
                <tr class="border-b dark:border-neutral-500">
                  <td class="whitespace-nowrap  px-6 py-4 font-medium">{{user.id}}</td>
                  <td class="whitespace-nowrap  px-6 py-4">{{user.email}}</td>
                  <td class="whitespace-nowrap  px-6 py-4">{{user.firstname}}</td>
                  <td class="whitespace-nowrap  px-6 py-4">{{user.lastname}}</td>
                  <td class="whitespace-nowrap  px-6 py-4">{{user.type}}</td>
                  <td class="flex justify-center whitespace-nowrap  px-6 py-4">
                  <a href="{{ path('app_backoffice_user_show', {'id': user.id}) }}">show</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
